//palitra
$color1:#333;//primary gray
$color2:#fff;//white
$color3:#34A0E3;//blue
$color4:#F0C311;//yellow
$color5:#c5c3c6;//light gray
$color6:#D7D7D7;//lighter gray
$color7:#F3F3F3;//lightest gray
$color8:rgba(0, 0, 0, 0.2);//transparent black
$color9:#E62D15;
$color10:#eee;
$color11:#111;
$color12:#E33434;

//indents
$screen-padding:20px;

//fonts
$primary-font:"GothamProLight";//, Arial;
$primary-font-bold:"GothamProBold", Arial;
$font-start-size:10px;
$font-wide-screen:0.833vw;
$font-s:1.4em;
$font-m:1.6em;
$font-l:1.8em;
$font-xl:2.4em;
$font-xxl:3.2em;
$font-xxxl:4.8em;