@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamPro/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamPro/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamPro/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamPro/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamPro/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamPro/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamPro/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
